/* Universal Selector */
* {
    margin:0;
    padding:0; 
    background-color:rgb(71, 93, 93); 
  }
  
  
  header {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid black;
    border-left:10px solid black;
    border-right:10px solid black;
    border-top:10px solid black;
    background-color:beige;
    color:beige;
  }
    
  li{
    text-align: right;
    display: inline;
   }

   h2 {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: #ffffff;}
    h3 {
      
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
      color: #ffffff;}
    h4 {
      
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
        color: #ffffff;}
    h5 {
      
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         
          color: #ffffff;}
        
      
    

   